<form action="/mail" method="post">
  Mail:<br>
  <input type="email" name="user[email]">
  <br>
  Message:<br>
  <input type="text" name="user[message]">
  <br><br>
  <input type="submit" value="Send Message">
</form> 
